.home-container {
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}
.container-loading a{
    /* background-color: #008080;
    color: white;
    padding: 5px 20px; */
    color: #008080;
}

.btn-uploadPlace, .btn-viewPlace{
    background-color: #008080;
    width: 200px;
    margin: 10px;
    border: 2px solid #008080;
}

.btn-viewPlace{
    background-color: white;
    color: #008080;
}
.btn-uploadPlace:hover, .btn-viewPlace:hover{
    background-color: #005252;
    color: white;
}

.home-image{
    width: 15em;
}
.home-title {
    font-size: 25px;
    font-weight: 400;
    color: rgba(0,0,0,0.70);
    margin-top: 50px; 
}

.home-title{
    font-size: 24px;
    color:#000;
}
