.app__header {
    height: auto;
    background-color: #DFFFFF;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
}
.logo{
    width: 200px;
}



.app-title {

}

.app-branding {

}

.app-options {

}

.app-nav ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;

}

.app-nav ul li a:hover {
    color: #008080;
}

.app-nav ul li a.active {
    color: #008080;
}

@media screen and (max-width:768px) {
    .logo{
        width: 150px;
    }
    .app-nav ul li a {
        font-size: 14px;
    
    }
}